body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
}

h2 {
  color: #ffffff;
  font-size: 35px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  color: #222424;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 17px;
}

.pink-button {
  width: 150px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: #ef5588;
  padding: 10px 15px;
  margin-top: 20px;
}
.pink-button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.expand {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

.mobile-menu {
  padding: 25px;
  width: 300px;
}
.mobile-menu button {
  background: transparent;
}
.mobile-menu button img {
  width: 25px;
}
.mobile-menu .content .text-size p {
  margin-bottom: 0;
}
.mobile-menu .content .text-size .tiny {
  font-size: 17px;
}
.mobile-menu .content .text-size .medium {
  font-size: 20px;
}
.mobile-menu .content .text-size .large {
  font-size: 23px;
}
.mobile-menu .content .text-size span {
  color: #d3d1cb;
}
.mobile-menu .content .text-size .active {
  color: #245aa8;
  text-decoration: underline;
}
.mobile-menu .content .links ul {
  list-style: none;
  padding-left: 0;
}
.mobile-menu .content .links ul a {
  color: #222424;
  text-decoration: none;
}
.mobile-menu .content .links ul a:hover {
  width: 150px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: #ef5588;
  padding: 10px 15px;
  margin-top: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-message.success {
  background-color: #217e08;
  color: #ffffff;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 15px;
}

header .main-header {
  background-color: #ffffff;
  z-index: 9;
}
header .main-header .mobile button {
  background: transparent;
}
header .main-header .mobile button img {
  width: 25px;
}
header .main-header .nav-section {
  background-color: #222424;
}
header .main-header .nav-section li {
  width: 33%;
}
header .main-header .nav-section li:first-of-type {
  border-right: 2px solid #383838;
}
header .main-header .nav-section li:last-of-type {
  border-left: 2px solid #383838;
}
header .main-header .nav-section li a {
  border-radius: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
header .main-header .nav-section li a:hover {
  background-color: #ef5588;
  color: #ffffff;
  padding: 1.2rem 2rem;
}
header .sticky-header {
  background-color: #ffffff;
  border-bottom: 4px solid #222424;
  z-index: 8;
}
header .sticky-header .logo img:not(:first-of-type) {
  height: fit-content;
  width: 150px;
}
header .text-size p {
  font-size: 14px;
  margin-bottom: 0;
}
header .text-size .tiny {
  font-size: 17px;
}
header .text-size .medium {
  font-size: 20px;
}
header .text-size .large {
  font-size: 23px;
}
header .text-size span {
  color: #d3d1cb;
}
header .text-size .active {
  color: #245aa8;
  text-decoration: underline;
}
@media only screen and (min-width: 1900px) {
  header .logo-section {
    max-width: 1900px;
    margin: 0 auto;
  }
}

section .container {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
section h2 {
  font-weight: bold;
  font-size: 35px;
}
section.hero-section {
  background-color: #1c2e40;
}
section.hero-section .image {
  height: 100%;
}
section.hero-section .image img {
  height: 100%;
  object-fit: cover;
}
section.hero-section .text-section {
  position: relative;
}
section.hero-section .text-section::before {
  content: "";
  background: url(../images/hero-bg-triangles.svg) no-repeat 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100%;
}
section.hero-section .text-section .text {
  z-index: 2;
}
section.heart-rail-section h2 {
  color: #245aa8;
}
section.heart-rail-section p {
  color: #222424;
  font-size: 17px;
}
section.heart-rail-section::after {
  content: "";
  background: url(../images/pink-chevrons.svg) no-repeat;
  height: 120px;
  width: 320px;
  position: absolute;
  background-size: 100%;
  left: 0;
  margin-top: -105px;
  margin-left: -80px;
  z-index: 6;
}
section.heart-rail-section .image-section img {
  width: 75%;
}
section.opportunity-section {
  background-color: #1c2e40;
  color: #ffffff;
}
section.opportunity-section .text-section {
  position: relative;
}
section.opportunity-section .text-section::before {
  content: "";
  background: url(../images/bg-triangle.svg) no-repeat 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100%;
}
section.opportunity-section .text-section .text {
  z-index: 2;
}
section.opportunity-section p {
  padding-top: 20px;
  font-size: 17px;
}
section.opportunity-section .image {
  height: 100%;
}
section.opportunity-section .image img {
  height: 100%;
}
section.supporters-advocates-section .headings h2 {
  color: #245aa8;
  padding-bottom: 4rem;
}
section.supporters-advocates-section .headings h3 {
  font-size: 20px;
}
section.supporters-advocates-section .icons img {
  width: 200px;
}
section.supporters-advocates-section .icons:last-of-type img {
  width: 100px;
}
section.supporters-advocates-section .carousel li {
  display: flex;
  justify-content: center;
}
section.supporters-advocates-section .carousel li .item {
  width: 75%;
}
section.supporters-advocates-section .carousel li .item .carousel-info h4 {
  font-size: 17px;
  font-weight: bold;
  color: #222424;
}
section.supporters-advocates-section .carousel li .item .carousel-info p {
  font-style: italic;
}
section.supporters-advocates-section .carousel #prevSlide {
  background: transparent;
  top: 155px;
  left: -5px;
}
section.supporters-advocates-section .carousel #prevSlide::before {
  content: "";
  margin-left: 5px;
  display: inline-block;
  border-right: 4px solid #d3d1cb;
  border-bottom: 4px solid #d3d1cb;
  width: 20px;
  height: 20px;
  transform: rotate(-225deg);
}
section.supporters-advocates-section .carousel #nextSlide {
  background: transparent;
  top: 155px;
  right: -5px;
}
section.supporters-advocates-section .carousel #nextSlide::after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  border-right: 4px solid #d3d1cb;
  border-bottom: 4px solid #d3d1cb;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}
section.supporters-advocates-section::after {
  content: "";
  background: url(../images/grey-thin-stripes.svg) no-repeat;
  height: 50px;
  width: 80%;
  position: absolute;
  background-size: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
section.supporter-section .text h2 {
  color: #245aa8;
  padding-bottom: 10px;
}
section.supporter-section .video {
  position: relative;
}
section.supporter-section .video button {
  position: absolute;
  background: url("../images/play-icon.svg") no-repeat 50% 50%;
  width: 75px;
  height: 75px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  left: 15px;
  right: 0;
  top: 45%;
}
section.latest-updates {
  background-color: #245aa8;
}
section.latest-updates .article img {
  height: 250px;
  object-fit: cover;
}
section.latest-updates .article .article-info {
  color: #ffffff;
}
section.latest-updates .article .article-info h4 {
  font-size: 20px;
}
section.latest-updates .article .article-info p {
  color: #d3d1cb;
  font-size: 17px;
}
section.latest-updates .article .article-info a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
section.latest-updates .article .article-info a::after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  border-right: 4px solid #ef5588;
  border-bottom: 4px solid #ef5588;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
section.latest-updates::after {
  content: "";
  background: url(../images/grey-stripes.svg) no-repeat;
  height: 50px;
  width: 320px;
  position: absolute;
  background-size: 100%;
  left: 0;
  margin-top: -25px;
}
section.form-section {
  background-color: #1c2e40;
  color: #ffffff;
}
section.form-section p {
  color: #ffffff;
}
section.form-section form label {
  font-size: 14px;
  color: #d3d1cb;
  padding-bottom: 5px;
}
section.form-section form input:not([type=checkbox]):not([type=submit]),
section.form-section form textarea {
  width: 100%;
  background-color: #4d5c64;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}
section.form-section form .checkbox {
  transform: scale(1.5);
  margin-left: 2px;
  margin-right: 15px;
}

footer::before {
  content: "";
  background: url(../images/pink-stripes.svg) no-repeat;
  height: 50px;
  width: 320px;
  position: absolute;
  background-size: 100%;
  right: 0;
  margin-top: -2px;
}
footer .container {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
footer .page-links a {
  text-decoration: none;
  font-size: 17px;
  color: #222424;
}
footer .page-links a:first-of-type::after {
  content: "";
  position: absolute;
  border-top: 2px solid #d3d1cb;
  width: 30px;
  transform: rotate(115deg);
  transform-origin: 75%;
  margin-top: 18px;
}
footer .copyright p {
  font-size: 14px;
  color: #d3d1cb;
}

@media only screen and (max-width: 1200px) {
  header .sticky-header .logo img {
    width: 140px;
  }
  header .sticky-header .logo img:not(:first-of-type) {
    width: 100px;
  }
}
@media only screen and (max-width: 1000px) {
  header .sticky-header .logo img:not(:first-of-type) {
    width: 60px;
  }
}
@media only screen and (max-width: 900px) {
  section.heart-rail-section .image-section img {
    width: 100%;
  }
  section.form-section form {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  header .main-header .nav-section {
    display: none;
  }
  header .sticky-header {
    display: none;
  }
  section.heart-rail-section .row {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 550px) {
  section.supporters-advocates-section .carousel #prevSlide {
    top: 185px;
    left: 20px;
  }
  section.supporters-advocates-section .carousel #nextSlide {
    top: 185px;
    right: 20px;
  }
}
@media only screen and (max-width: 500px) {
  section.supporter-section .video button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
}
@media only screen and (max-width: 400px) {
  footer .page-links a {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  footer .page-links a:first-of-type::after {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
